	
/* ---------- @ Post Styles -----------*/

.entry {
	padding-bottom:18px;
	overflow:hidden
	}

.postmetadata {
	margin:0;
	padding-top:8px;
	color:#939393;
	font-size:.85em;
	text-transform:uppercase;
	letter-spacing:.08em;
	}	

.postmetadata em {
	font:italic 1em Georgia, "Times New Roman", Times, serif;
	text-transform:none;
	letter-spacing:.1em;
	}

.entry pre {
	width:100%;
	overflow:auto;
	margin:15px 0;
	display:block;
	background:#f5f3ee;
	}
	
.entry code {
	padding:0 18px;
	display:block;
	font-size:1.2em;
	}

.entry ul, .entry ol {
	margin:15px 0;
	padding:15px;
	}
				
.entry li {
	margin: 0 0 10px 42px;
	line-height:145%;
	}

#tags span {
	padding:3px 6px;
	background:#f2f2f2
	}	

#tags a, #tags a:visited {
	text-decoration: none
	}
	
p#tags, p#wp-edit, p.nextpage {
	clear:both
	}
	
	

/*Images*/
	
.entry img {
	display:block;
	border:1px solid #999;
	padding:2px;
	margin:15px 0;
	}

.wp-caption {
	background:#f2f2f2;
	text-align:center;
	padding:10px 5px 10px 10px;
	}

img.alignleft {
	margin:5px 15px 10px 0;
	float:left
	}

img.alignright {
	margin:5px 0 10px 15px;
	float:right
	}

.wp-caption.alignleft {
	float:left;
	margin:20px 22px 10px 0;
	}
	
.wp-caption.alignright {
	float:right;
	margin:20px 0 10px 22px;
	}

.wp-caption.aligncenter, img.aligncenter {
    margin: 0 auto;
	display:block;
	margin-bottom:15px;
	margin-top:15px;
	float:none
   	}
		
p.wp-caption-text {
	margin:0;
	text-align:center;
	padding:5px 0;
	}	

.wp-caption img {
	float:none;
	margin:0;
	}	

.gallery {
	margin:15px 0;
	display:block;
	}
	
.gallery img {
	border:1px solid #999 !important;
	padding:2px;
	margin:0 auto
	}

.gallery-item {
	padding:12px 0;
	text-align:center
	}

.gallery-caption {
	padding:10px 0;
	}
	
	
	
	

/* ---------- @ Comments -----------*/

	
.reply a, .reply a:visited  {
	width:75px;
	background:#CCC;
	color:#FFF;
	display:block;
	margin-bottom:15px;
	padding:5px !important;
	text-align:center;
	text-decoration:none !important;
	font:italic 1em Georgia,Arial,Verdana;
	position:relative;
	}

.reply a:hover {
	background:#aeaeae;
	text-decoration:none;
	color:#FFF;
	}

.reply a:active {
	background: #424242;
	color:#FFF;
	}
			
.commentlist li {
	margin: 0 0 22px;
	padding: 15px;
	background:#F2F2F2;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
	list-style:none
	}

.commentlist li li {
	border:none;
	border-left: 1px solid #CCC;	
	margin:0 0 0 20px;
	padding-left:25px;
	background:none
	}

.commentlist li.bypostauthor {
	background:#e5e5e5 !important; 
	border:2px solid #CCC;
	}
	
.commentlist code {
	background:#f2f2f2;
	padding:3px;
	}
	
.avatar {
	margin: 3px 10px 0 0;
	float:left;
	padding:2px;
	border:1px solid #b9b9b9;
	}

#trackbacklist li {
	margin: 10px 0 10px 35px;
	}

#trackbacklist cite {
	font-style:normal
	}
			
cite.fn {
	font: bold 1.4em Georgia, "Times New Roman", Times, serif;
	letter-spacing:-0.05em;
	display:block;
	padding:9px 0 4px;
	}	

.says {
	display:none;
	}

.comment-author {
	overflow:hidden;
	}
		
.commentmetadata {
	float:left
	}
 
.comment-date a, .comment-date a:visited {
	color:#9f9f9f;
	font-size:0.9em;
	text-decoration:none
	}

.commentmetadata a:hover, .commentmetadata a:active  {
	text-decoration:underline;
	color:#333;
	}