.top-nav li {
  background: url(../images/topnavbg.gif) no-repeat right 0px !important;
}

#menu-item-23 {
  background: none !important;
}

.kings-nav ul li {
background: url(../images/kingsnavbg.png) no-repeat left 0px !important;
}

#menu-item-6 {
  background: none !important;
}

.homepagecontent .ui-tabs .ui-tabs-nav li {
  background: url(../images/topnavbg.gif) no-repeat right 5px !important;
}

.homepagecontent .ui-tabs .ui-tabs-nav li.last {
  background: none !important;
}