/*Top Page Navbar */

.topnavcont {
  float: left;
  height: 40px;
  width: 896px;  
}

.top-nav {
  width: 625px;
  margin: 3px 0px 0 0;
  float: left;
  padding: 0;
}

.top-nav, div.menu {
	}

.top-nav li {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -3px;
  padding: 0 0 0 6px;
  margin: 0;  
  height: 39px;
  background: url(../images/topnavbg.gif) no-repeat right 5px;
}

.top-nav li a {
  color: #fff;
  padding: 0;
  margin: 0;  
}

#sidebar .top-nav ul.menu {
	background: transparent;
	padding: 0;
	}
		
.top-nav ul.menu, div.menu ul.menu {
	list-style: none;
	z-index:1000000;
	line-height: 1.0;
	padding:0;
	display:inline-block;
	vertical-align: bottom
	}

.top-nav ul.menu li, div.menu ul.menu li {
	float: left;
	margin-right:0;
	position:relative;
	list-style:none
	}
	
.top-nav ul.menu a, .top-nav ul.menu a:visited, 
div.menu ul.menu a, div.menu ul.menu a:visited {
	display: block;
	text-decoration: none;
	color:#fff;
	margin:0 10px 0 0;
	padding: 0 4px 0 3px;
	}

.top-nav ul.menu a:hover, div.menu ul.menu a:hover {
	color:#000;
	background: #dfdfdf;
	}

.top-nav ul.menu a:active, div.menu ul.menu a:active {

	}
	
.top-nav ul.menu li.current_page_item a, .top-nav ul.menu li.current_page_item a:visited, 
div.menu ul.menu li.current_page_item a, div.menu ul.menu li.current_page_item a:visited {
	/*
	background:#FFF;
	color:#292928;
	*/
	}



	
/* Dropdown Menus */		

.top-nav ul.menu li:hover, div.menu ul.menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
	}

.top-nav ul.menu li:hover ul,
.top-nav ul.menu li.sfhover ul, 
div.menu ul.menu li:hover ul,
div.menu ul.menu li.sfhover ul {
	left: -5px;
	}

.top-nav ul.menu li:hover li ul,
.top-nav ul.menu li.sfhover li ul, 
div.menu ul.menu li:hover li ul,
div.menu ul.menu li.sfhover li ul {
	top: -999em;
	}

.top-nav ul.menu li li:hover ul,
.top-nav ul.menu li li.sfhover ul, 
div.menu ul.menu li li:hover ul,
div.menu ul.menu li li.sfhover ul {
	top: 0;
	}

.top-nav ul.menu li li:hover li ul,
.top-nav ul.menu li li.sfhover li ul, 
div.menu ul.menu li li:hover li ul,
div.menu ul.menu li li.sfhover li ul {
	top: -999em;
	}

.top-nav ul.menu li li li:hover ul,
.top-nav ul.menu li li li.sfhover ul, 
div.menu ul.menu li li li:hover ul,
div.menu ul.menu li li li.sfhover ul {
	left: 178px; /* match ul width */
	top: 0;
	}

.top-nav ul.menu li ul, div.menu ul.menu li ul {
	position: absolute;
	left: -5px;
	height: auto;
	width: 178px;
	z-index:1000000 !important;
	line-height:1;
	margin-left:11px;
	background: #e1e1e1;
	}

.top-nav ul.menu li li, div.menu ul.menu li li {
	width: 178px;
	z-index:1000;
	border: none;
	background: transparent !important;
	}

.top-nav .menu li li a, .top-nav .menu li li a:visited, 
.top-nav .menu li.current_page_parent li.current_page_item a, 
.top-nav .menu li.current_page_parent li.current_page_item a:visited, 
div.menu .menu li li a, .top-nav .menu li li a:visited, 
div.menu .menu li.current_page_parent li.current_page_item a, 
div.menu .menu li.current_page_parent li.current_page_item a:visited {
	color: #434343 !important;
	padding:8px 5px !important;
	background:transparent !important;
	font-size: 16px !important;
	letter-spacing: -1px !important;
	}

.top-nav .menu li li a:hover, .top-nav .menu li li a:active,
.top-nav .menu li.current_page_parent li.current_page_item a:hover, 
.top-nav .menu li.current_page_parent li.current_page_item a:active, 
div.menu .menu li li a:hover, .top-nav .menu li li a:active,
div.menu .menu li.current_page_parent li.current_page_item a:hover, 
div.menu .menu li.current_page_parent li.current_page_item a:active {
	color:#000 !important;
	}	
		
.top-nav .menu li:hover ul, 
.top-nav .menu li li:hover ul, 
.top-nav .menu li li li:hover ul, 
.top-nav .menu li.sfhover ul, 
.top-nav .menu li li.sfhover ul, 
.top-nav .menu li li li.sfhover ul, 
div.menu .menu li:hover ul, 
div.menu .menu li li:hover ul, 
div.menu .menu li li li:hover ul, 
div.menu .menu li.sfhover ul, 
div.menuv .menu li li.sfhover ul, 
div.menu .menu li li li.sfhover ul {

	}

.top-nav .menu ul ul, div.menu .menu ul ul {
	margin:0 0 0 178px !important
	}

.top-nav .menu ul ul ul, div.menu .menu ul ul ul {
	margin:-29px 0 0 178px !important
	}


.top-nav .menu li .sf-sub-indicator, div.menu .menu li .sf-sub-indicator {
	position: absolute;
	display: block;
	right: 	.6em;
	top: 	.8em; /* IE6 only */
	width: 	1px;
	height: 	1px;
	text-indent: 	-999em;
	overflow: hidden;
	background: transparent;
}

.top-nav .menu li li .sf-sub-indicator, div.menu .menu li li .sf-sub-indicator {
	background-image:url(../images/arrow_child.gif) !important;
	}
	
.kings-nav {
  width: 838px;
  float: left;
}
	
.kings-nav ul li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background: url(../images/kingsnavbg.png) no-repeat left 4px;
  padding: 0 0 0 10px;
  margin: 0 5px 0 0; 
}

.kings-nav ul li a {
  color: #fff;
  text-decoration: none;
}
		
.kings-nav ul li a:hover {
  color: #e1e1e1;
}

#menu-item-26 .sub-menu {
  margin-left: 5px !important;
}