.sourdough_meta_box > p {
    width:45%;
    float:left;
}
.sourdough_meta_box > p > label {
    display:block;
    font-size:1.2em;
    font-weight:800;
    padding-bottom:5px;
}
.sourdough_meta_box > p > input, .sourdough_meta_box > p > select {
    font-size:1.4em;
    padding:5px;
    width:320px;
}